{% extends 'pages/layout.html' %}
{% block body %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add Product</h1>
            {% include 'includes/_flashmsg.html' %}
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form" enctype=multipart/form-data class="" action="/admin_add_product"
                                  method="post">
                                <div class="form-group">
                                    <label>Product Name</label>
                                    <input class="form-control" required="required" name="name" placeholder="Enter name">
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <input class="form-control" required="required" name="price" placeholder="Enter price">
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" required="required" name="description" rows="3"
                                              placeholder="Write product description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Available</label>
                                    <input class="form-control" required="required" name="available" placeholder="Available">
                                </div>

                                <!-- Category -->
                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="form-control" id="category_id" onchange="populateList();"
                                            name="category">
                                        <option value="house">Houses</option>
                                        <option value="painting">Painting</option>
                                        <option value="equipment">Equipment</option>
                                        <option value="logistics">Logistics</option>
                                    </select>
                                </div>

                                <!-- Available Houses -->
                                <div class="form-group level-container">
                                    <label>Houses</label>
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="house" value="v_shape">Bungalow
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="house" value="polo">Apartment
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="house" value="clean_text">Self Conatained
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="house" value="design">Bedsitter
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="house" value="design">Others
                                        </label>
                                    </div>

                                    <!-- Painting service -->
                                    <label>Painting services</label>
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="painting" value="chain">Repairs
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="painting" value="leather">Full painting
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="painting" value="design">Wallpaper painting
                                        </label>
                                    </div>

                                    <!-- Equipment -->
                                    <label>Equipment</label>
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="equipment" value="leather">Light
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="equipment" value="hook">Heavy
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="equipment" value="color">Other
                                        </label>
                                    </div>

                                    <!-- Logistics -->
                                    <label>Logistics</label>
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="logistics" value="formal">Around town
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="logistics" value="converse">Town Outskirts
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="logistics" value="loafer">Upcountry
                                        </label>
                                        
                                    </div>
                                </div>

                                <!-- Submit Form Section -->
                                <div class="form-group">
                                    <label>Item</label>
                                    <input class="form-control" required="required" name="item" placeholder="Ex: watch/logistics">
                                </div>
                                <div class="form-group">
                                    <label>Product Code</label>
                                    <input class="form-control" required="required" name="code" placeholder="Enter code">
                                </div>
                                <div class="form-group">
                                    <label>Add Image</label>
                                    <input type="file" required="required" name="picture">
                                </div>
                                <button type="submit" class="btn btn-default" style="background-color:  rgb(236, 54, 236); color: white;">Add</button>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
{% endblock %}